/*Arsh Aneja, ISTE 230, 9/14/2022*/

  .top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Times New Roman", Times, serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 33px 50px;
    text-decoration: none;
    font-size: larger;
  }
  
  li a:hover {
    background-color: #111;
  }

.logo{
    margin-top: 4px;
    margin-left: 4px;
}

.current{
    text-decoration: underline;
}



.foot{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: space-around;
}
.bott{
  display: block;
  text-align: center;
  padding: 1px 55px;
  text-decoration: none;
  font-size: 12px;
}
.bott a{
  color:black;
}
.bott a:hover{
  background-color: white;
  
}
.pic{
  background-image: url('../images/background.jpg'); 
  background-size:cover; 
  height:320px; 
  padding-top:80px;
}

.title{
  display: table;
  margin: 0px auto 0px auto;
  padding:5px;
  font-size:20px;
  background-color:black;
  color:hotpink;
  font-family: Arial, Helvetica, sans-serif;

}
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.map{
  margin-top: 8px;
  grid-column: 1;
  grid-row: 1 / 5;
}
.text{
  margin-top: 8px;
  grid-column: 2;
  grid-row: 1 / 5;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 12px;
}
p{
  margin-left: 20px;
  font-size: 25px;
  line-height: 1.6;
}
.festival{
  background-image: url('../images/fest.jpg'); 
  background-size:cover; 
  height:320px; 
  padding-top:80px;
}
.festival_title{
  display: table;
  margin: 0px auto 0px auto;
  padding:5px;
  font-size:20px;
  background-color:black;
  color:wheat;
  font-family: Arial, Helvetica, sans-serif;
}
.night_title{
  
    display: table;
    margin: 0px auto 0px auto;
    padding:5px;
    font-size:20px;
    background-color:black;
    color:lightcoral;
    font-family: Arial, Helvetica, sans-serif;
  

}
.night{
  background-image: url('../images/carsdark.jpg'); 
  background-size:cover; 
  height:320px; 
  padding-top:80px;
}
.sports{
  background-image: url('../images/knicks.jpeg'); 
  background-size:cover; 
  height:320px; 
  padding-top:80px;
}
.food{
  background-image: url('../images/foodhall.jpg'); 
  background-size:cover; 
  height:320px; 
  padding-top:80px;
}
.food_title{
  
  display: table;
  margin: 0px auto 0px auto;
  padding:5px;
  font-size:20px;
  background-color:black;
  color:teal;
  font-family: Arial, Helvetica, sans-serif;


}
.sports_title{
  display: table;
  margin: 0px auto 0px auto;
  padding:5px;
  font-size:20px;
  background-color:black;
  color: lightgreen;
  font-family: Arial, Helvetica, sans-serif;
}